<%- contentFor('main') %>
    <div class="pt-2">
        <h2 class="sec-title">Cadastro de pedidos</h2>
    </div>
    <div class="form-area mt-3">
        <form class="form-row g-3 form-area--inputs">
            <div class="col-md-4 input-area">
                <label for="" class="form-label label">Destinatário</label>
                <input type="text" class="input form-control" placeholder="Ex: André Gomes" id="">
            </div>
            <div class="col-md-4 input-area">
                <label for="" class="form-label label">Endereço de entrega</label>
                <input type="text" class="input form-control" placeholder="Ex: 145, Rua das Almas" id="">
            </div>
            <div class="col-md-4 input-area">
                <label for="" class="form-label label">Contato do destinatário</label>
                <input type="tel" class="input form-control" placeholder="Ex: (86)99985-5213" id="">
            </div>
            <div class="col-12 input-area">
                <label for="" class="form-label label">Itens do pedido</label>
                <textarea class="textarea form-control" id=""></textarea>
            </div>
            <div class="col-5 input-area">
                <label for="" class="form-label label">Entregador</label>
                <input type="text" class="input form-control" id="" placeholder="Ex: Luiz Castro">
            </div>
            <div class="col-4 input-area">
                <label for="" class="form-label label">Data do pedido</label>
                <input type="date" class="input form-control" id="">
            </div>
            <div class="col-md-3 input-area">
                <label for="" class="form-label label">Valor do pedido</label>
                <input type="text" class="input form-control" placeholder="Ex: R$ 129,90" id="">
            </div>
            <div class="col-12 input-area">
                <label for="" class="form-label label">Descrição do pedido</label>
                <textarea type="text" class="textarea form-control" id=""></textarea>
            </div>
            <div class="col-12 btn-group mt-4">
                <button class="btn btn-done border-radius p-2">Cadastrar pedido</button>
                <button class="btn btn-clear border-radius p-2">Limpar campos</button>
            </div>
        </form>
        <div class="card blacked border-radius">
            <div class="card-header purple semi-radius">
                <p class="title">Pedidos cadastrados</p>
            </div>
            <div class="card-body">
                <ul class="historic-requests">
                    <li class="historic-request-item">
                        <p class="item-name">John Doe, Av. Alguma Coisa - 455</p>
                        <ul class="item-info task-info">
                            <p class="item-price">Valor do Pedido: R$ 55,00</p>
                        </ul>
                    </li>
                </ul>
                <ul class="historic-requests">
                    <li class="historic-request-item">
                        <p class="item-name">John Doe, Av. Alguma Coisa - 455</p>
                        <ul class="item-info task-info">
                            <p class="item-price">Valor do Pedido: R$ 55,00</p>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>