<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Redefinir senha | YORE</title>
</head>

<body class="screen">
    <main class="black">
        <div class="container-fluid screen">
            <div class="row screen">
                <div class="col-md-7">
                    <div class="sign-cover">
                        <div class="backdrop">
                            <div class="sign-header--cover">
                                <div class="logo">
                                    <img src="/img/YORE.svg" class="pb-4" alt="Logo do YORE">
                                </div>
                                <div class="legends mt-3">
                                    <h3 class="title mb-3">Ops, parece que você esqueceu sua senha..</h3>
                                    <p class="subtitle">Não se preocupe, vamos resolver isso.</p>
                                </div>
                            </div>
                            <div class="backdrop-img mt-2">
                                <img src="/img/reset-cover.svg" style="width: 350px !important;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sign col-md-5">
                    <form class="form sign-form forgot-boxing border-radius">
                        <div class="forgot-info">
                            <div class="lock">
                                <i class='bx bx-lock-alt'></i>
                            </div>
                            <div class="text">
                                <p>Problemas para entrar?</p>
                            </div>
                        </div>
                        <div class="mb-12 input-area">
                            <label for="exampleInputEmail1" class="form-label label">Por favor, informe seu endereço de e-mail</label>
                            <input type="email" class="input form-control mt-2" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-12 btn-group mt-4">
                            <button class="btn btn-done border-radius p-2">Próximo</button>
                        </div>
                    </form>
                    <div class="divider-or ">
                        <span></span>
                        <p>ou</p>
                        <span></span>
                    </div>
                    <div class="login-links mt-4">
                        <a href="/cadastro">Criar nova conta</a>
                        <a href="/login">Voltar ao login</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>